.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-dark { background-color: var(--dark); }
.bg-light { background-color: var(--light); }

.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-dark { color: var(--dark); }
.text-light { color: var(--light); }

.text-primary-hover { color: var(--hover-primary); }
.text-secondary-hover { color: var(--hover-secondary); }
.text-dark-hover { color: var(--hover-dark); }
.text-light-hover { color: var(--hover-light); }