@media (max-width: 1280px) {
    #about {
        padding: 2.4rem 6rem;
        gap: 3rem;
    }
}
@media (max-width: 1050px) {
    #home {
        text-align: center;
    }
    #home, #about {
        flex-direction: column;
        align-items: center;
    }
    #home .presentation h1 {
        display: block;
    }
    #home .presentation .developer-areas {
        justify-content: center;
    }

    nav #menu {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
    }
    #menu-toggle {
        display: block;
    }

    /* Mostrar el menú cuando el toggle esté activo */
    nav #menu.show {
        display: flex;
    }
}
@media (max-width: 700px) {
    #about .about-img {
        width: 100%;
    }
    #about {
        padding: 2.5rem 3rem;
    }
}
@media (max-width: 380px) {
    #about .about-img {
        width: 100%;
    }
    #about {
        padding: 2.5rem 1.5rem;
    }
}