.p-1 {padding: 0.25rem;} .px-1 {padding: 0 0.25rem;} .py-1 {padding: 0.25rem 0;} 
.p-2 {padding: 0.5rem;} .px-2 {padding: 0 0.5rem;} .py-2 {padding: 0.5rem 0;} 
.p-3 {padding: 0.75rem;} .px-3 {padding: 0 0.75rem;} .py-3 {padding: 0.75rem 0;} 
.p-4 {padding: 1rem;} .px-4 {padding: 0 1rem;} .py-4 {padding: 1rem 0;} 

.p-5 {padding: 1.25rem;} .px-5 {padding: 0 1.25rem;} .py-5 {padding: 1.25rem 0;} 
.p-6 {padding: 1.5rem;} .px-6 {padding: 0 1.5rem;} .py-6 {padding: 1.5rem 0;} 
.p-7 {padding: 1.75rem;} .px-7 {padding: 0 1.75rem;} .py-7 {padding: 1.75rem 0;} 
.p-8 {padding: 2rem;} .px-8 {padding: 0 2rem;} .py-8 {padding: 2rem 0;} 

.p-9 {padding: 2.25rem;} .px-9 {padding: 0 2.25rem;} .py-9 {padding: 2.25rem 0;} 
.p-10 {padding: 2.5rem;} .px-10 {padding: 0 2.5rem;} .py-10 {padding: 2.5rem 0;} 
.p-11 {padding: 2.75rem;} .px-11 {padding: 0 2.75rem;} .py-11 {padding: 2.75rem 0;} 
.p-12 {padding: 3rem;} .px-12 {padding: 0 3rem;} .py-12 {padding: 3rem 0;} 

.p-13 {padding: 3.25rem;} .px-13 {padding: 0 3.25rem;} .py-13 {padding: 3.25rem 0;} 
.p-14 {padding: 3.5rem;} .px-14 {padding: 0 3.5rem;} .py-14 {padding: 3.5rem 0;} 
.p-15 {padding: 3.75rem;} .px-15 {padding: 0 3.75rem;} .py-15 {padding: 3.75rem 0;} 
.p-16 {padding: 4rem;} .px-16 {padding: 0 4rem;} .py-16 {padding: 4rem 0;} 



.m-1 {margin: 0.25rem;} .mx-1 {margin: 0 0.25rem;} .my-1 {margin: 0.25rem 0;} 
.m-2 {margin: 0.5rem;} .mx-2 {margin: 0 0.5rem;} .my-2 {margin: 0.5rem 0;} 
.m-3 {margin: 0.75rem;} .mx-3 {margin: 0 0.75rem;} .my-3 {margin: 0.75rem 0;} 
.m-4 {margin: 1rem;} .mx-4 {margin: 0 1rem;} .my-4 {margin: 1rem 0;} 

.m-5 {margin: 1.25rem;} .mx-5 {margin: 0 1.25rem;} .my-5 {margin: 1.25rem 0;} 
.m-6 {margin: 1.5rem;} .mx-6 {margin: 0 1.5rem;} .my-6 {margin: 1.5rem 0;} 
.m-7 {margin: 1.75rem;} .mx-7 {margin: 0 1.75rem;} .my-7 {margin: 1.75rem 0;} 
.m-8 {margin: 2rem;} .mx-8 {margin: 0 2rem;} .my-8 {margin: 2rem 0;} 

.m-9 {margin: 2.25rem;} .mx-9 {margin: 0 2.25rem;} .my-9 {margin: 2.25rem 0;} 
.m-10 {margin: 2.5rem;} .mx-10 {margin: 0 2.5rem;} .my-10 {margin: 2.5rem 0;} 
.m-11 {margin: 2.75rem;} .mx-11 {margin: 0 2.75rem;} .my-11 {margin: 2.75rem 0;} 
.m-12 {margin: 3rem;} .mx-12 {margin: 0 3rem;} .my-12 {margin: 3rem 0;} 

.m-13 {margin: 3.25rem;} .mx-13 {margin: 0 3.25rem;} .my-13 {margin: 3.25rem 0;} 
.m-14 {margin: 3.5rem;} .mx-14 {margin: 0 3.5rem;} .my-14 {margin: 3.5rem 0;} 
.m-15 {margin: 3.75rem;} .mx-15 {margin: 0 3.75rem;} .my-15 {margin: 3.75rem 0;} 
.m-16 {margin: 4rem;} .mx-16 {margin: 0 4rem;} .my-16 {margin: 4rem 0;} 