/* ---------- GENERAL ------------- */

h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ---------- HEADER ------------- */

header {
    position: sticky;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: var(--dark);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header nav {
    padding: 1rem 3rem;
}
header a {
    color: var(--secondary);
    transition: color ease-in-out .2s;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 1rem;
}
header a.active, header a:hover {
    color: var(--main);
}
#check-menu {
    display: none;
}

#menu-toggle {
    display: none;
    font-size: 24px;
    color: var(--secondary);
    cursor: pointer;
    position: absolute;
    right: 1rem;
}
header::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ---------- SECTIONS ------------- */

#home {
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 1rem;
}
#home .presentation {
    position: relative;
}
#home .presentation h1 {
    color: var(--main);
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#home .presentation h3 {
    color: var(--secondary);
    font-size: 32px;
}
#home .presentation .developer-areas {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
}
#home .presentation .developer-areas p {
    background-color: var(--main);
    color: white;
    padding: .25rem 1rem;
    border-radius: 16px;
}
#home .profile-photo {
    position: relative;
    
}
#home .profile-photo img {
    border-radius: 50%;
}
#home .profile-photo #age {
    background-color: var(--main);
    color: white;
    width: fit-content;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    padding: 1rem;
    bottom: 1rem;
    right: 2rem;
    font-size: 20px;
}
#home .download-cv {
    background-color: var(--secondary);
    color: var(--dark);
    padding: .5rem 1rem;
    border-radius: 16px;
    font-weight: bolder;
    margin: 1rem 0;
    display: inline-block;
    transition: all ease-in-out .2s;
}
#home .download-cv:hover {
    background-color: var(--secondary-hover);
}

#about {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 2.5rem 10rem;
    gap: 5rem;
}
#about h2 {
    color: var(--main);
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
#about .about-info .languages {
    text-align: end;
    margin: 1rem 0;
}
#about .about-info {
    position: relative;
}
#about .about-img {
    position: relative;
}

#experience {
    background-color: var(--main);
    padding: 2rem 4rem;
}
#experience h2 {
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    border-radius: 8px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-img {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px 8px 0 0;

}
.card-img img{
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: all ease-in-out .2s;
}
.card-img img:hover {
    transform: scale(1.15);
}
.card-body {
    padding: .5rem 1rem;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main);
    font-size: 20px;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}
.card-info {
    color: var(--dark);
    flex-grow: 1;
    margin-bottom: 1rem;
}
.card-technologies img{
    width: 20px;
    display: inline-block;
    margin: 0 .125rem;
}

#projects {
    background-color: var(--dark);
    padding: 2rem 4rem;
}
#projects h2 {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

#skills {
    padding: 2rem 4rem;
}
#skills h2 {
    text-align: center;
    color: var(--main);
    margin-bottom: 1rem;
    text-transform: uppercase;
}
#skills .row img {
    width: 150px;
}

/* ---------- FOOTER ------------- */
footer {
    background-color: var(--dark);
    color: white;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
footer a {
    color: white;
    font-size: 30px;
}